__pycache__/address.cpython-310.pyc
__pycache__/addressbook.cpython-310.pyc
__pycache__/birthday.cpython-310.pyc
__pycache__/book_saver.cpython-310.pyc
__pycache__/email.cpython-310.pyc
__pycache__/field.cpython-310.pyc
__pycache__/messages.cpython-310.pyc
__pycache__/name.cpython-310.pyc
__pycache__/note.cpython-310.pyc
__pycache__/notebook.cpython-310.pyc
__pycache__/phone.cpython-310.pyc
__pycache__/record.cpython-310.pyc
